.sidebar {
  height: 100vh !important;
  /* border-radius: 5px; */
  background-color: #0078d4;
  box-shadow: 0 0 2px gray;
  color: white;
}

.menu {
  padding-top: 100px;
}

.menu-item {
  padding-top: 30px;
}

.menu-item a {
  color: white;
  text-decoration: none;
  font-size: 1.2rem;
}

.menu-item i {
  font-size: 1.2rem;
  margin: 0 15px;
  color: white;
}

.active {
  background-color: white;
  padding: 10px;
  margin-top: 25px;
}

.active a,
.active i {
  color: #cfa500;
}

/* RESPONSIVE STYLES */
@media (max-width: 768px) {
  .sidebar {
    width: 100%;
    height: auto;
    padding: 20px;
    box-sizing: border-box;
    position: relative;
  }

  .menu {
    padding-top: 20px;
  }

  .menu-item {
    padding-top: 15px;
  }

  .menu-item a {
    font-size: 1rem;
  }

  .menu-item i {
    font-size: 1rem;
    margin: 0 10px;
  }

  .active {
    margin-top: 15px;
  }
}
